<h1>Listing bills</h1>

<table class='table'>
  <tr>
    <th>Bill Type</th>
    <th>Bill Date</th>
    <th>Bill Amount</th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%= bill.bill_type%></td>
    <td><%= bill.date%></td>
    <td><%= bill.amount%></td>
    <td><%= link_to 'Show', bill %></td>
    <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
    <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bill', new_bill_path %>
